.toolbar {
  @include bar;
  z-index: 1;

  &__btn {
    width: 25px;
    height: 25px;

    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;

    margin-right: 15px;
  }

  .brush {
    background: url('@/assets/icons/brush.svg') no-repeat center center;
  }

  .rect {
    background: url('@/assets/icons/rect.svg') no-repeat center center;
  }

  .circle {
    background: url('@/assets/icons/circle.svg') no-repeat center center;
  }

  .eraser {
    background: url('@/assets/icons/eraser.svg') no-repeat center center;
  }

  .line {
    background: url('@/assets/icons/line.svg') no-repeat center center;
  }

  .undo {
    background: url('@/assets/icons/undo.svg') no-repeat center center;
    margin-left: auto;
  }

  .redo {
    background: url('@/assets/icons/redo.svg') no-repeat center center;
  }

  .save {
    background: url('@/assets/icons/save.svg') no-repeat center center;
  }
}
