@import '@/styles/base/variables';
@import '@/styles/base/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import '@/styles/blocks/app';
@import '@/styles/blocks/toolbar';
@import '@/styles/blocks/canvas';
@import '@/styles/blocks/settings';
